 .star-filled-icon {
          height: 1.25rem; /* Equivalent to h-5 */
          width: 1.25rem; /* Equivalent to w-5 */
          color: #facc15; /* Equivalent to text-yellow-400 */
        }

        .star-empty-icon {
          height: 1.25rem; /* Equivalent to h-5 */
          width: 1.25rem; /* Equivalent to w-5 */
          color: #d1d5db; /* Equivalent to text-gray-300 */
        }
